{% extends 'staff/staffindex.html'%}
{% block content %}
<style>
    .orders{
        width: 300px;
        padding: 10px;
        margin: auto;
        border: 1px solid gray;

    }
    .order-container{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
</style>

<div class="container">
    <div class="content-header">
        <h4 class="text-center">Pending Orders</h4>
    
        <h6 class="text-danger text-center">{{form.errors}}</h6>
        {% for message in messages %}
        <h6 style="color:red;text-align:center">{{message}}</h6> 
        {% endfor %}
        <!-- Button trigger modal -->
    </div>
<div class="order-container">

    {% for item in delivery %}
    <div class="orders">
        <h5>Order Number: {{item.order.order_number}} </h5>
        <p>Order Time: {{item.ordered_time}}</p>
        <p>Estimated Time: {{item.estimated_time}}</p>
        <p>Order Status: {{item.order_status}}</p>
        <p>Delivery Time: {{item.delivery_time}}</p>
        <p>Ordered items</p>
        <span></span>
        <p>Ordered items:</p>
        <ul>
            {% for order_item in item.order.order_items.all %}
                <li>
                    {{ order_item.product.name }} - {{ order_item.quantity }} x ₹{{ order_item.product.rate }} = ₹{{ order_item.total_price }}
                </li>
            {% endfor %}
        </ul>
        <p>Address:
            <br>
            {{item.name}} <br>
            {{item.phone}} <br>
            {{item.address}}
        </p>

        <a href="{%url 'order_status_change' item.id 'Order Accepted' %}" class="btn btn-sm btn-info mt-3">Order Accepted</a>
        <a href="{%url 'order_status_change' item.id 'Order Preparing' %}" class="btn btn-sm btn-dark mt-3">Order Preparing</a>
        <br>
        <a href="{%url 'order_status_change' item.id 'Out for Delivery' %}" class="btn btn-sm btn-warning mt-3">Order Out for Delivery</a>
        <a href="{%url 'order_status_change' item.id 'Delivered' %}" class="btn btn-sm btn-success mt-3">Delivered</a>
        <a href="" data-bs-target="#exampleModal{{item.id}}" data-bs-toggle="modal">Estimated Time add</a>

        <!-- Modal -->
<div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Estimated Time</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{%url 'estimatedtimeadd' item.id %}" method="post">
                {% csrf_token %}
          <label for="">Enter Time</label>
          <input type="time" name="time" class="form-control" id="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        </div>
      </div>
    </div>
  </div>

    </div>
    {% endfor %}



    
</div>
</div>


        {% endblock %}