<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FeedU</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{%static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{%static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="{%static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="{%url 'Index' %}" class="navbar-brand">FeedU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{%url 'Index' %}" class="nav-item nav-link active">Home</a>
                        {% if request.user.is_authenticated %}
                        <a href="{%url 'Index' %}#about" class="nav-item nav-link">About</a>
                        <a href="{%url 'order_summary_all' %}" class="nav-item nav-link">My Orders</a>
                        
                        <a href="{%url 'my_booking' %}" class="nav-item nav-link">Cart</a>
                        {% endif %}
                        <a href="{%url 'FoodMenu' %}" class="nav-item nav-link">Menu</a>
                        {% if request.user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{request.user}}</a>
                            <div class="dropdown-menu">
                                <a href="{%url 'SignOut' %}" class="dropdown-item">SignOut</a>
                                
                            </div>
                        </div>
                        {% else %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                            <div class="dropdown-menu">
                                <a href="{%url  'SignIn' %}" class="dropdown-item">SignIn</a>
                                <a href="{%url 'SignUp'%}" class="dropdown-item">SignUp</a>
                            </div>
                        </div>
                        {% endif %}
                        <a href="{%url 'Index' %}#contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

{% block content %}
        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{%static 'img\collage.jpg' %}" style="object-fit: cover;" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Your favorite meals, <span>just a click </span> away!</h1>
                            <p>
                                Order Your Food From Canteen
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="{%url 'FoodMenu' %}">View Menu</a>
                                <a class="btn custom-btn" href="{%url 'my_booking' %}">Book Food</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{%static 'img/carousel-2.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Avoid  <span>Q</span> </h1>
                            <p>
                                Book Your Food From Canteen
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="{%url 'FoodMenu' %}">View Menu</a>
                                <a class="btn custom-btn" href="{%url 'my_booking' %}">Book </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{%static 'img/carousel-3.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>From lectures to lunch –  <span>let’s make it delicious! </span></h1>
                            <p>
                                Book Your Food From Canteen

                                <!-- Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam. Proin pellentesque odio -->
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="{%url 'FoodMenu' %}">View Menu</a>
                                <a class="btn custom-btn" href="{%url 'my_booking' %}">Book </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
        
        
        <!-- Booking Start -->
        <!-- <div class="booking">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="booking-content">
                            <div class="section-header">
                                <p>Book A Food</p>
                                <h2>Book Your Table For Private Dinners & Happy Hours</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="booking-form">
                            <form>
                                <div class="control-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name" required="required" />
                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="far fa-user"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email" required="required" />
                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Mobile" required="required" />
                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="input-group date" id="date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Date" data-target="#date" data-toggle="datetimepicker"/>
                                        <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="input-group time" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Time" data-target="#time" data-toggle="datetimepicker"/>
                                        <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="input-group">
                                        <select class="custom-select form-control">
                                            <option selected>Guest</option>
                                            <option value="1">1 Guest</option>
                                            <option value="2">2 Guest</option>
                                            <option value="3">3 Guest</option>
                                            <option value="4">4 Guest</option>
                                            <option value="5">5 Guest</option>
                                            <option value="6">6 Guest</option>
                                            <option value="7">7 Guest</option>
                                            <option value="8">8 Guest</option>
                                            <option value="9">9 Guest</option>
                                            <option value="10">10 Guest</option>
                                        </select>
                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn custom-btn" type="submit">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Booking End -->
        

       <!-- About Start -->
<div class="about" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'img/about.jpg' %}" alt="Image">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>About Us</p>
                        <h2>Serving Students Since 2002</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Welcome to our College Canteen Management System! Developed by a dedicated team of students, this innovative platform aims to revolutionize the way our college canteen operates. Our goal is to enhance the dining experience for students and staff by providing a seamless, user-friendly interface for ordering food and managing canteen operations.
                            Through this project, we have integrated features such as online ordering, inventory management, and sales tracking to streamline processes and reduce wait times.
                        </p>
                        <p>
                            Our system not only improves efficiency but also empowers users with real-time access to menus and order history. We are passionate about creating a vibrant campus community and believe that our canteen plays a vital role in bringing people together over delicious food.
                        </p>
                        <p>
                            Join us in embracing technology to make college life more enjoyable and convenient!
                        </p>
                        <a class="btn custom-btn" href="{%url 'FoodMenu' %}">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

        
        
        <!-- Video Modal Start-->
        <!-- <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <!-- <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>  --> 
        <!-- Video Modal End -->
        
        
       <!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2>Our Key Features</h2>
                </div>
                <div class="feature-text">
                    <div class="feature-img">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'img/feature-1.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-2.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-3.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-4.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <p>
                        Our canteen delivery app brings a range of tasty, nutritious meals right to your door, making life on campus more convenient and enjoyable. Choose from a variety of options prepared fresh daily to satisfy your cravings, whether for a quick snack or a full meal.
                    </p>
                    <a class="btn custom-btn" href="{%url 'my_booking' %}">Order Now</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-cooking"></i>
                            <h3>Expert Chefs</h3>
                            <p>
                                Our chefs craft each meal with care, using recipes that bring out the best flavors for a variety of tastes and preferences.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-vegetable"></i>
                            <h3>Fresh Ingredients</h3>
                            <p>
                                Only the freshest, high-quality ingredients are selected, ensuring every meal is healthy and delicious.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Quality Assurance</h3>
                            <p>
                                Our commitment to quality means each meal is prepared to the highest standards, delivering exceptional taste and nutrition.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-meat"></i>
                            <h3>Healthy Options</h3>
                            <p>
                                We offer a range of healthy options including fresh salads, low-calorie meals, and lean protein dishes for every diet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-courier"></i>
                            <h3>Fast Delivery</h3>
                            <p>
                                Get your meals delivered to you quickly, so you can enjoy fresh, hot food wherever you are on campus.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-fruits-and-vegetables"></i>
                            <h3>Special Diets</h3>
                            <p>
                                We offer meals suitable for various dietary needs, including vegetarian, vegan, and gluten-free options.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

        
        
      <!-- Food Start -->
<div class="food">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Main Dishes</h2>
                    <p>
                         Each meal is a celebration of tradition, crafted with fresh ingredients and aromatic spices to delight your palate.
                    </p>
                    <a href="{%url 'FoodMenu' %}">View Menu</a>
                </div>
            </div>
 <!--           <div class="col-md-3">
              <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Hot Drinks</h2>
                    <p>
                        Each sip offers a warm embrace of spices and heritage, perfect for cozy moments or a refreshing boost.
                    </p>
                    <a href="{%url 'FoodMenu' %}">View Menu</a>
                </div>
            </div> -->
            <div class="col-md-3">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Snacks</h2>
                    <p>
                        Perfect for any occasion, these delightful bites offer a taste of India’s vibrant street food culture.
                    </p>
                    <a href="{%url 'FoodMenu' %}">View Menu</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Drinks</h2>
                    <p>
                         Perfect for hot days, these beverages offer a delightful blend of tradition and refreshment to invigorate your senses.
                    </p>
                    <a href="{%url 'FoodMenu' %}">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->

        
        
        <!-- Menu Start -->
        <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Food Menu</h2>
                </div>
                <div class="menu-tab">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#maincourse">Main Dishes</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link " data-toggle="pill" href="#burgers">Hot Drinks</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#beverages">Drinks</a>
                        </li>
                    </ul>
                   
<div class="tab-content">
    <div id="burgers" class="container tab-pane fade">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% for item in menuitem %}
                    {% if item.category == "Diet_Food" %}
                    <div class="menu-item">
                        <div class="menu-img">
                            <img src="{{ item.image.url }}" alt="Image">
                        </div>
                        <div class="menu-text">
                            <h3><span>{{ item.name }}</span> <strong>₹{{ item.rate }} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <a href="" class="btn btn-outline-warning btn-sm">Add Item</a></strong> 
                            </h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="snacks" class="container tab-pane fade">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% for item in menuitem %}
                    {% if item.category == "Snacks" %}
                    <div class="menu-item">
                        <div class="menu-img">
                            <img src="{{ item.image.url }}" alt="Image">
                        </div>
                        <div class="menu-text">
                            <h3><span>{{ item.name }}</span> <strong>₹{{ item.rate }} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <a href="" class="btn btn-outline-warning btn-sm">Add Item</a></strong> 
                            </h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="beverages" class="container tab-pane fade">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% for item in menuitem %}
                    {% if item.category == "Beverages" %}
                    <div class="menu-item">
                        <div class="menu-img">
                            <img src="{{ item.image.url }}" alt="Image">
                        </div>
                        <div class="menu-text">
                            <h3><span>{{ item.name }}</span> <strong>₹{{ item.rate }} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <a href="" class="btn btn-outline-warning btn-sm">Add Item</a></strong> 
                            </h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="maincourse" class="container tab-pane active">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% for item in menuitem %}
                    {% if item.category == "Food" %}
                    <div class="menu-item">
                        <div class="menu-img">
                            <img src="{{ item.image.url }}" alt="Image">
                        </div>
                        <div class="menu-text">
                            <h3><span>{{ item.name }}</span> <strong>₹{{ item.rate }}  &nbsp;&nbsp;&nbsp;&nbsp; 
                                <a href="" class="btn btn-outline-warning btn-sm">Add Item</a></strong> 
                           </h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

                </div>
            </div>
        </div>
        <!-- Menu End -->
        
        
        
        
        
       
        
        
        <!-- Contact Start -->
        <div class="contact" id="contact">
            <div class="container">
                <div class="section-header text-center">
                    <p>Contact Us</p>
                    <h2>Contact For Any Query</h2>
                </div>
                <div class="row align-items-center contact-information">
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Address</h3>
                                <p>Kadayiruppu P.O, Kolenchery Ernakulam dist.,Kerala. Pin 682311</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Call Us</h3>
                                <p>0484 259 7800</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>isngce@sify.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Follow Us</h3>
                                <div class="contact-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contact-form">
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.0784133399047!2d76.45046962325226!3d10.010381772859628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07dfe0ffffffff%3A0x98f87eeadc0b60b!2sSree%20Narayana%20Gurukulam%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1731472446141!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <iframe src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn custom-btn" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Blog Start -->
        <!-- <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Blog</p>
                    <h2>Latest From Food Blog</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{%static 'img/blog-1.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Lorem ipsum dolor sit amet</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Admin</p>
                                    <p><i class="far fa-list-alt"></i>Food</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor. Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                                    </p>
                                    <a class="btn custom-btn" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{%static 'img/blog-2.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Lorem ipsum dolor sit amet</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Admin</p>
                                    <p><i class="far fa-list-alt"></i>Food</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor. Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                                    </p>
                                    <a class="btn custom-btn" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Blog End -->


{% endblock %}

        <!-- Footer Start -->
        <div class="footer">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn custom-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">FeedU</a>, All Right Reserved.</p>
                    <p>Designed By UPS<a href=""></a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{%static 'lib/easing/easing.min.js' %}"></script>
        <script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{%static 'lib/tempusdominus/js/moment.min.js' %}"></script>
        <script src="{%static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
        <script src="{%static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <!-- Contact Javascript File -->
        <script src="{%static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{%static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{%static 'js/main.js' %}"></script>
    </body>
</html>
